*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    gap: 10px 50px;
}
.grid-item{
    height: 300px;
    border: solid 2px black;
    background-image: url('https://placedog.net/505');
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    
}