*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    /*grid-template-areas: 
    'header'
    'sidebar'
    'main'
    'footer ';*/
    grid-template-areas: 
    'header header header'
    'sidebar main main'
    'footer footer footer';
    
}
@media (max-width: 768px){
    .grid-container{
        display: grid;
        grid-template-areas: 
        'header'
        'sidebar'
        'main'
        'footer ';
    }
}
.box{
    
    border: solid 2px black;
    
}
.header{
    grid-area: header;
}
.sidebar{
    grid-area: sidebar;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
@media(min)
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'sidebar'
    'main'
    'footer ';
    
}